.user {
  min-width: 300px;
  min-height: 200px;
  padding: 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background: #ffffffb7;
  color: #000000be;
  cursor: pointer;

  h1 {
    line-height: 1.5;
  }
  h3 {
    line-height: 1.5;
    margin: 5px 0;
  }
}
