/* Importing font called Ubuntu */
@import url("https://fonts.googleapis.com/css?family=Ubuntu&display=swap");

.App {
  text-align: center;
  color: #ffffff81;
  font-family: "Ubuntu", sans-serif;
}
